a {
    text-decoration: none;
    color: #aa9377;
}

body {
     font-family: 'Oswald', sans-serif;
     background-color: #faebd7;
     text-align: center;
}

header {
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}   

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 20px;
    padding:  10px 25px;
    width: 50%;
}

.enviar {
    width: 40%;
    padding: 15px;
    background-color: #aa9377;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}

.enviar:hover{
    background-color: #faebd7;
    transform: scale(1.2);

}